@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --reddit: #d93a00;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.modal {
  padding: 0 1rem;
}

.avatar {
  border-radius: 32px;
  object-fit: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.g-0 {
  gap: 0.5rem;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2.75rem;
}

.user-links {
  display: flex;
  flex-flow: wrap;
  gap: 1.75rem;
}

.avatar-edit {
  border: 2px solid var(--bulma-border);
  cursor: pointer;
  width: 84px;
  height: 84px;
}

.modal-card-head {
  box-shadow: none !important;
}

.reddit {
  color: var(--reddit);
}

.default-navigation-dropdown {
  right: 0;
  min-width: 100px;
  left: unset;
  position: absolute;
  bottom: unset;
  top: 100%;
  border-top: none;
}

footer .lk {
  gap: 1rem;
}

#menu {
  display: flex;
  max-width: 98vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.15rem;
}

[contenteditable='true']:empty:before {
  content: attr(data-placeholder);
  color: #808080;
  cursor: text;
}

[contenteditable='true']:focus-visible {
  outline: none;
}

@media (max-width: 580px) {
  .footer-footer {
    flex-direction: column;
  }

  .footer-footer div.is-flex {
    gap: 0.5rem;
  }
}

article#article-content {
  border: none;
  padding: 1rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.button.is-outlined:hover {
  --bulma-button-border-width: max(1px, 0.0625em);
  --bulma-button-outer-shadow-alpha: 1;
}

button.button.is-danger.is-outlined:hover {
  border-color: var(--bulma-danger-40);
  color: var(--bulma-danger-40);
}

#toolbar {
  flex-wrap: wrap;
}

.tool-group {
  display: flex;
  align-items: center;
}

.tool-group button {
  transition: none;
  margin: 0 0.2rem;
}

.tool-group i {
  font-size: 1.1em;
}

.tool-group .icon {
  justify-content: unset;
}

.tt-indent-1 {
  text-indent: 1rem;
}

.tt-indent-2 {
  text-indent: 2rem;
}

.tt-indent-3 {
  text-indent: 3rem;
}

.tt-indent-4 {
  text-indent: 4rem;
}

.tt-indent-5 {
  text-indent: 5rem;
}

.tt-indent-6 {
  text-indent: 6rem;
}

.tt-indent-7 {
  text-indent: 7rem;
}

.tt-indent-8 {
  text-indent: 8rem;
}

figure img {
  max-width: 720px;
  height: auto;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

figure:not([class]) {
  margin-left: 0;
  margin-right: 0;
}
