<div class="content">
  <h1 class="title">Oopsss... você não é um autor</h1>
  <p>
    Junte-se à nossa comunidade de autores e compartilhe seus conhecimentos sobre desenvolvimento de
    software com o mundo!
  </p>
</div>
<div class="mt-5 content">
  <h3 class="subtitle is-5">Motivos para escrever na Kassiopeia.dev</h3>
  <ul>
    <li>
      Alcance um público amplo: Seus artigos serão indexados pelo Google e poderão ser encontrados
      por milhares de desenvolvedores em todo o mundo
    </li>
    <li>
      Ajude outros desenvolvedores: Compartilhe seus conhecimentos e experiências para ajudar outros
      a aprender e se desenvolver
    </li>
    <li>
      Faça a diferença: Contribua para a comunidade de desenvolvimento de software e ajude a moldar
      o futuro da tecnologia
    </li>
    <li>Comece a escrever hoje mesmo</li>
  </ul>
</div>
<div class="mt-5 content">
  <h3 class="subtitle is-5">O que você precisa saber?</h3>
  <p>
    Ao se cadastrar como autor na Kassiopeia.dev, você concorda em seguir nossos
    <a href="/terms#author" target="_blank" rel="noopener noreferrer">Termos de Uso</a>.
  </p>
  <p>É importante que você leia e compreenda os Termos de Uso antes de se cadastrar como autor.</p>
</div>

<div
  data-confirm="Aguarde... estamos atualizando sua role para autor"
  class="modal"
  id="confirm-author-modal"
>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h3 class="modal-card-title">Seja um autor</h3>
      <button class="delete" aria-label="Fechar"></button>
    </header>
    <section class="modal-card-body">
      <p>
        Antes de se cadastrar como autor, é crucial que você leia e compreenda os Termos de Uso
        tanto para
        <a href="/terms#author" target="_blank" rel="noopener noreferrer">usuários comuns</a>
        quanto para
        <a href="/terms#author" target="_blank" rel="noopener noreferrer">autores/escritores</a>.
        Além disso, seu pedido para se tornar um autor poderá ser <strong>negado</strong>.
      </p>
      <p class="py-3">
        <code><strong>Atenção:</strong></code>
        Ao se tornar um autor, você estará concordando com os termos mencionados acima.
      </p>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button data-no-hide="true" id="become-author" class="button is-success">
          Desejo me tornar um autor
        </button>
        <button class="button">Cancelar</button>
      </div>
    </footer>
  </div>
</div>

<div>
  <button class="button is-warning" id="show-is-non-author-modal">Quero me tornar um autor</button>
</div>
