<nav class="navbar" role="navigation" aria-label="Área de navegação">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title has-text-weight-normal">Kassiopeia.dev</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="bulma-nav-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="bulma-nav-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Início
      </a>
      <a class="navbar-item" href="/categories">
        Categorias
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/about">
          Sobre
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/write">
            Escreva para Kassiopeia.dev
          </a>
          <a class="navbar-item" href="/contact">
            Contato
          </a>
          <a class="navbar-item" href="/terms">
            Termos
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/owner">
            Gabriel Henrique da Silva
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/report">
            Reporte um problema
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button theme-button">
            <span class="icon is-small">
              <i data-ic-dark="fa-sun" data-class-dark="has-text-warning" data-ic-light="fa-moon"
                data-class-light="has-text-link" class="has-text-warning fa-solid fa-sun"></i>
            </span>
          </button>
          <a th:if="${user != null}" th:href="'/u/' + ${user.username}"
            class="is-flex is-justify-content-center is-align-items-center button is-size-6">
            <img th:if="${user.avatarURL != null}" alt="Usuário" width="48" height="48" id="nav-user-ic"
              th:src="${user.avatarURL}" />
            <span class="icon is-small" th:unless="${user.avatarURL != null}">
              <i class="fa-solid fa-user-astronaut"></i>
            </span>
          </a>
          <div th:unless="${user != null}">
            <a href="/session" class="button is-ghost">
              Faça login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>