<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="Kassiopeia">
<meta name="description" content="Comece a entender o desenvolvimento web com várias linguagens">
<meta name="keywords"
  content="dev, desenvolvimento, blog, programação, linguagem, linguagem de programação, web, desenvolvimento web, java, node, node.js, spring-boot, javascript, typescript, react, kassiopeia">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Portuguese">
<meta name="author" content="Gabriel Henrique da Silva">
<link rel="apple-touch-icon" sizes="180x180" href="/public/image/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/image/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/image/favicon-16x16.png">
<link rel="manifest" href="/public/site.webmanifest">
<title th:text="${title != null ? title + ' - Kassiopeia' : 'Kassiopeia'}"></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
<script src="https://kit.fontawesome.com/9323da32d4.js" crossorigin="anonymous"></script>
<script defer src="/public/javascript/kassiopeia.bundle.min.js"></script>