<footer class="footer pt-5 pb-6">
  <div class="columns">
    <div class="column is-two-thirds">
      <h3><strong>Kassiopeia.dev</strong></h3>
      <p class="is-size-7">
        É uma plataforma dedicada a ensinar sobre desenvolvimento de software em todas
        as áreas.
      </p>
      <h2 class="has-text-weight-bold title is-6 pt-5">K.dev</h2>
    </div>
    <div class="column">
      <h3><strong>Links</strong></h3>
      <ul>
        <li>
          <a class="is-size-7" href="/">Kassiopeia.dev</a>
        </li>
        <li>
          <a class="is-size-7" href="/write" target="_blank" rel="noopener noreferrer">Quero escrever para
            Kassiopeia.dev</a>
        </li>
        <li>
          <a class="is-size-7" href="/contact" target="_blank" rel="noopener noreferrer">Contatos</a>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>

  <div class="content is-flex is-align-items-center is-justify-content-space-between footer-footer">
    <div class="is-flex is-align-items-center lk">
      <a class="is-size-7" href="/report" target="_blank" rel="noopener noreferrer">Encontrei um problema</a>
      <a class="is-size-7" href="/terms" target="_blank" rel="noopener noreferrer">Termos</a>
      <a class="is-size-7" href="/cookies" target="_blank" rel="noopener noreferrer">Cookies</a>
      <a class="is-size-7" href="/donation" target="_blank" rel="noopener noreferrer">Ajude-nos</a>
    </div>
    <div>
      <p class="is-size-7 has-text-right">&copy; 2024
        <a href="mailto:odev.gabriel@gmail.com" target="_blank" rel="noopener noreferrer">Gabriel Henrique da
          Silva</a>
      </p>
    </div>
  </div>
</footer>