<footer class="footer pt-5 pb-6">
  <div class="columns">
    <div class="column is-two-thirds">
      <h3><strong>Kassiopeia.dev</strong></h3>
      <p class="is-size-7">
        É uma plataforma dedicada a ensinar sobre desenvolvimento de software em todas as áreas.
      </p>
    </div>
    <div class="column">
      <h3><strong>Links</strong></h3>
      <ul>
        <li>
          <a class="is-size-7" href="/">Kassiopeia.dev</a>
        </li>
        <li>
          <a class="is-size-7" href="/write" rel="noopener noreferrer"
            >Quero escrever para Kassiopeia.dev</a
          >
        </li>
        <li>
          <a class="is-size-7" href="/contact" rel="noopener noreferrer"
            >Entre em contato conosco</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="content is-flex is-align-items-center is-justify-content-space-between footer-footer">
    <div class="is-flex is-align-items-center lk">
      <a class="is-size-7" href="/report" rel="noopener noreferrer"> Encontrei um problema </a>
      <a class="is-size-7" href="/terms" rel="noopener noreferrer">Termos</a>
      <a class="is-size-7" href="/cookies" rel="noopener noreferrer">Cookies</a>
      <a class="is-size-7" href="/donation" rel="noopener noreferrer">Ajude-nos</a>
    </div>
    <div>
      <p class="is-size-7 has-text-right">
        &copy; 2024
        <a href="/gabriel-henrique-da-silva" rel="noopener noreferrer">
          Gabriel Henrique da Silva
        </a>
      </p>
    </div>
  </div>
</footer>
