<form data-stack data-message="Stack atualizada" id="modal-edit-stack" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Editar Stack: <strong class="stack-name"></strong></h1>
      <button type="button" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label" for="stack-name">Nome</label>
        <div class="control">
          <input class="input stack-name" type="text" placeholder="Java" id="stack-name" />
        </div>
        <small class="help">
          Stacks são como categorias. Elas ajudam a agrupar documentos com temas semelhantes,
          facilitando a organização já que tudo relacionado ao mesmo assunto está no mesmo lugar.
        </small>
      </div>

      <div class="control">
        <div class="description-container">
          <label class="label" for="stack-description">Descrição da Stack</label>
          <textarea
            class="textarea has-fixed-size"
            placeholder="Lançada pela primeira vez pela Sun Microsystems em 1995..."
            id="stack-description"
            rows="4"
          ></textarea>
          <small class="description-len"></small>
        </div>
        <small class="help">
          Um resumo breve e conciso do conteúdo. Essa descrição não é visível para os usuários na
          página em si, mas é utilizada pelos mecanismos de busca para exibir um trecho descritivo
          nos resultados de pesquisa e na apresentação do artigo.
        </small>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button data-no-hide="true" class="button is-success">Salvar stack</button>
        <button type="button" class="button" id="stack-edit-cancel">Cancelar</button>
      </div>
    </footer>
  </div>
</form>
