<article id="author" class="is-hidden section content is-flex-direction-column g-2">
  <h1 class="title">Termos de Uso Adicionais para Usuários Escritores</h1>

  <section>
    <h2 class="subtitle"><strong>Elegibilidade</strong></h2>
    <p>Para se tornar um Usuário Escritor na Plataforma Kassiopeia.dev, você deve:</p>
    <ul>
      <li>Ser maior de 15 anos.</li>
      <li>Possuir uma Conta na Plataforma.</li>
      <li>Concordar em seguir estes Termos de Uso Adicionais.</li>
    </ul>
  </section>
  <section>
    <h2 class="subtitle"><strong>Processo de Submissão de Conteúdo</strong></h2>
    <p>Para submeter Conteúdo para publicação na Plataforma, você deve seguir estas etapas:</p>
    <ol>
      <li>Faça login</li>
      <li>
        Na barra de navegação, em <code>Sobre</code>, selecione a opção
        <code>Escreva para Kassiopeia.dev</code>
      </li>
      <li>Desenvolva seu conteúdo e submeta</li>
    </ol>
  </section>
  <section>
    <h2 class="subtitle"><strong>Revisão e Aprovação de Conteúdo</strong></h2>
    <p>
      Todo o Conteúdo submetido à Plataforma será revisado por Usuários Moderadores. Os Usuários
      Moderadores se reservam o direito de aprovar, rejeitar ou solicitar modificações em qualquer
      Conteúdo submetido.
    </p>
    <p>
      Se o seu Conteúdo for rejeitado, você receberá uma notificação por e-mail explicando o motivo
      da rejeição. Você poderá então modificar seu Conteúdo e resubmetê-lo para revisão.
    </p>
  </section>

  <section>
    <h2 class="subtitle"><strong>Diretrizes de Conteúdo</strong></h2>
    <p>Todo o Conteúdo submetido à Plataforma deve seguir estas diretrizes:</p>
    <ul>
      <li>O Conteúdo deve ser relevante para o desenvolvimento de software</li>
      <li>O Conteúdo deve ser original e não plagiado</li>
      <li>O Conteúdo deve ser informativo e útil para outros desenvolvedores de software</li>
      <li>O Conteúdo deve ser respeitoso</li>
    </ul>
  </section>
  <section>
    <h2 class="subtitle"><strong>Violação de Direitos Autorais</strong></h2>
    <p>
      A Kassiopeia.dev leva a sério a violação de direitos autorais. Se você acredita que seu
      conteúdo foi violado na Plataforma, entre em
      <a href="/contact" target="_blank" rel="noopener noreferrer">contato</a> conosco
    </p>
  </section>
  <section>
    <h2 class="subtitle"><strong>Rescisão</strong></h2>
    <p>
      A Kassiopeia.dev pode rescindir sua Conta de Usuário Escritor a qualquer momento, sem aviso
      prévio, se você violar estes Termos de Uso Adicionais.
    </p>
  </section>
  <section>
    <h2 class="subtitle"><strong>Disposições Gerais</strong></h2>
    <p>
      Estes Termos de Uso Adicionais complementam os Termos de Uso da Plataforma Kassiopeia.dev. Se
      qualquer disposição destes Termos de Uso Adicionais for considerada inválida ou inexequível,
      tal disposição será considerada nula e sem efeito, mas as demais disposições permanecerão em
      vigor.
    </p>
  </section>
</article>
