<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <th:block th:replace="~{fragments/default-head}"></th:block>
  </head>

  <body>
    <header class="p-3">
      <div>
        <th:block th:replace="~{fragments/default-navigation}"></th:block>
      </div>
    </header>

    <main class="container p-3">
      <section class="section">
        <h1 class="title">500</h1>
        <h3 class="subtitle">Ops! Ocorreu um problema inesperado</h3>
        <p>
          Desculpe-nos, parece que tivemos um pequeno contratempo em nosso sistema. Nossa equipe já
          foi notificada e está trabalhando para resolver isso o mais rápido possível. Por favor,
          tente novamente mais tarde.
        </p>
        <div class="buttons py-5 is-flex is-justify-content-center">
          <a href="/" class="button is-link pr-5">
            <span class="icon is-small">
              <i class="fa-solid fa-location-arrow"></i>
            </span>
            <span>Home</span>
          </a>

          <a href="/report" class="button is-danger">
            <span class="icon is-small">
              <i class="fa-solid fa-bug"></i>
            </span>
            <span>Reportar</span>
          </a>
        </div>
      </section>
    </main>

    <th:block th:replace="~{fragments/footer}"></th:block>

    <input type="hidden" value="/404" id="wwwroot-page-manager-id" />
  </body>
</html>
