<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <th:block th:replace="~{fragments/default-head}"></th:block>
  </head>

  <body>
    <header class="p-3">
      <div>
        <th:block th:replace="~{fragments/default-navigation}"></th:block>
      </div>
    </header>

    <main class="container p-3">
      <section class="section">
        <h1 class="title">Verificação de conta</h1>
        <h2 class="subtitle">Seu email ainda não foi verificado</h2>
        <p>
          Um email acabou de ser enviado para você, contendo um código de uso único. Por favor,
          verifique sua caixa de entrada e insira o código aqui para que possamos proceder com a
          validação.
        </p>
        <form class="py-6">
          <label class="title is-6 has-text-weight-normal mb-0" for="account-check">
            Código de uso único:
          </label>
          <div class="py-3">
            <div class="control has-icons-left">
              <input
                class="input is-medium"
                type="text"
                placeholder="Código de uso único"
                data-message="Código informado está incorreto ou é inválido"
                id="account-check"
              />
              <span class="icon is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <button class="button is-link" type="submit">Validar</button>
        </form>
      </section>
    </main>

    <th:block th:replace="~{fragments/footer}"></th:block>

    <input type="hidden" value="/account-verification" id="wwwroot-page-manager-id" />
  </body>
</html>
