<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <th:block th:replace="~{fragments/default-head}"></th:block>
  </head>

  <body>
    <header class="p-3">
      <div>
        <th:block th:replace="~{fragments/default-navigation}"></th:block>
      </div>
    </header>

    <main class="container p-3">
      <section class="section">
        <h1 class="title">Verificação de conta</h1>
        <h2 class="subtitle">Seu email ainda não foi verificado</h2>
        <p>
          Um email acabou de ser enviado para você, contendo um código de uso único. Por favor,
          verifique sua caixa de entrada e insira o código aqui para que possamos proceder com a
          validação.
        </p>
        <form class="py-6">
          <div class="field has-addons">
            <div class="control" style="width: 90%">
              <input
                class="input"
                type="text"
                placeholder="Código de uso único"
                data-message="Código informado está incorreto ou é inválido"
                data-message-len="O código de uso único possui 5 caracteres entre letras e números"
                id="account-check"
              />
            </div>
            <div class="control">
              <button class="button is-info" type="submit">Validar</button>
            </div>
          </div>
        </form>
      </section>
    </main>

    <th:block th:replace="~{fragments/footer}"></th:block>

    <input type="hidden" value="/account-verification" id="wwwroot-page-manager-id" />
  </body>
</html>
