<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <th:block th:replace="~{fragments/default-head}"></th:block>
  </head>

  <body>
    <main class="py-5 px-3">
      <section class="">
        <header>
          <div class="is-flex is-align-items-center g-0">
            <span>Slug:</span>
            <input
              style="border: none"
              id="slug-element"
              class="input is-small"
              th:value="${article.slug}"
              th:data-original="${article.slug}"
            />
            <a target="_blank" th:href="@{/{slug}/edit/metadata(slug=${article.slug})}"
              >Metadados</a
            >
          </div>
          <input
            data-slug=""
            type="text"
            class="title input is-4 has-text-weight-normal mt-3 p-0 px-4"
            th:value="${article.title}"
            th:data-original="${article.title}"
            placeholder="Título..."
            id="article-title"
            style="border: none"
          />
        </header>
        <div>
          <div id="toolbar" class="is-flex is-align-items-center pt-4 px-4 g-0 pb-0">
            <div class="tool-group">
              <div class="select is-normal">
                <select id="font-family" data-action="set-font-family" title="Troque a fonte">
                  <option data-type="sans-serif" value="Lato">Lato</option>
                  <option data-type="sans-serif" value="Reddit Sans">Reddit Sans</option>
                  <option data-type="monospace" value="Reddit Mono">Reddit Mono</option>
                  <option data-type="serif" value="Tinos">Tinos</option>
                  <option data-type="serif" value="IBM Plex Serif">IBM Plex Serif</option>
                  <option data-type="monospace" value="JetBrains Mono">JetBrains Mono</option>
                </select>
              </div>
            </div>
            <div class="tool-group">
              <button type="button" title="Negrito" id="bold" data-action="toggle-bold">
                <span class="icon">
                  <i class="fa-solid fa-bold"></i>
                </span>
              </button>
              <button type="button" title="Itálico" id="italic" data-action="toggle-italic">
                <span class="icon">
                  <i class="fa-solid fa-italic"></i>
                </span>
              </button>
              <button
                type="button"
                title="Sublinhado"
                id="underline"
                data-action="toggle-underline"
              >
                <span class="icon">
                  <i class="fa-solid fa-underline"></i>
                </span>
              </button>
              <button type="button" title="Tachado" id="strike" data-action="toggle-strike">
                <span class="icon">
                  <i class="fa-solid fa-strikethrough"></i>
                </span>
              </button>
              <button type="button" title="Bloco de citação" id="quote" data-action="toggle-quote">
                <span class="icon">
                  <i class="fa-solid fa-quote-right"></i>
                </span>
              </button>
              <button type="button" title="Bloco de código" id="code" data-action="toggle-code">
                <span class="icon">
                  <i class="fa-solid fa-code"></i>
                </span>
              </button>
            </div>
            <div class="tool-group">
              <button type="button" title="Cor do texto" id="color" data-action="change-color">
                <input type="color" id="color-input" class="is-hidden" />
                <span class="icon">
                  <i class="fa-solid fa-droplet"></i>
                </span>
              </button>
              <button type="button" title="Cor de fundo do texto" id="bg" data-action="change-bg">
                <input type="color" id="bg-input" class="is-hidden" />
                <span class="icon">
                  <i class="fa-solid fa-highlighter"></i>
                </span>
              </button>
            </div>
            <div class="tool-group">
              <button
                type="button"
                title="Alinhar à esquerda"
                id="align-left"
                data-action="align-left"
              >
                <span class="icon">
                  <i class="fa-solid fa-align-left"></i>
                </span>
              </button>
              <button
                type="button"
                title="Centralizar texto"
                id="align-center"
                data-action="align-center"
              >
                <span class="icon">
                  <i class="fa-solid fa-align-center"></i>
                </span>
              </button>
              <button
                type="button"
                title="Alinhar à direita"
                id="align-right"
                data-action="align-right"
              >
                <span class="icon">
                  <i class="fa-solid fa-align-right"></i>
                </span>
              </button>
              <button
                type="button"
                title="Justificar texto"
                id="align-justify"
                data-action="align-justify"
              >
                <span class="icon">
                  <i class="fa-solid fa-align-justify"></i>
                </span>
              </button>
            </div>
            <div class="tool-group">
              <button type="button" title="Lista não ordenada" id="list-ul" data-action="add-ul">
                <span class="icon">
                  <i class="fa-solid fa-list"></i>
                </span>
              </button>
              <button type="button" title="Lista numérica" id="list-ol" data-action="add-ol">
                <span class="icon">
                  <i class="fa-solid fa-list-ol"></i>
                </span>
              </button>
              <button type="button" title="Adicionar recuo" id="indent" data-action="indent">
                <span class="icon">
                  <i class="fa-solid fa-indent"></i>
                </span>
              </button>
              <button type="button" title="Remover recuo" id="outdent" data-action="outdent">
                <span class="icon">
                  <i class="fa-solid fa-outdent"></i>
                </span>
              </button>
            </div>
            <div class="tool-group">
              <button type="button" title="Recortar texto" id="cut" data-action="cut">
                <span class="icon">
                  <i class="fa-solid fa-scissors"></i>
                </span>
              </button>
              <button type="button" title="Copiar texto" id="copy" data-action="copy">
                <span class="icon">
                  <i class="fa-regular fa-copy"></i>
                </span>
              </button>
              <button type="button" title="Colar texto" id="paste" data-action="paste">
                <span class="icon">
                  <i class="fa-regular fa-paste"></i>
                </span>
              </button>
            </div>
            <div class="tool-group">
              <button type="button" title="Título" id="title" data-action="title">
                <span class="icon">
                  <i class="bi bi-type-h1"></i>
                </span>
              </button>
              <button type="button" title="Subtítulo" id="subtitle" data-action="subtitle">
                <span class="icon">
                  <i class="bi bi-type-h2"></i>
                </span>
              </button>
              <button
                type="button"
                title="Subtítulo menor"
                id="subtitle-3"
                data-action="subtitle-3"
              >
                <span class="icon">
                  <i class="bi bi-type-h3"></i>
                </span>
              </button>
              <button
                type="button"
                title="Texto sobrescrito"
                id="superscript"
                data-action="toggle-superscript"
              >
                <span class="icon">
                  <i class="fa-solid fa-superscript"></i>
                </span>
              </button>
              <button
                type="button"
                title="Texto subscrito"
                id="subscript"
                data-action="toggle-subscript"
              >
                <span class="icon">
                  <i class="fa-solid fa-subscript"></i>
                </span>
              </button>
            </div>
            <div class="tool-group">
              <button type="button" title="Link" id="link" data-action="toggle-link">
                <span class="icon">
                  <i class="fa-solid fa-link"></i>
                </span>
              </button>
              <button
                type="button"
                title="Adicione uma imagem"
                id="add-figure"
                data-action="add-figure"
              >
                <input
                  type="file"
                  accept="image/*"
                  class="is-hidden"
                  data-message="A imagem selecionada é muito grande"
                />
                <span class="icon">
                  <i class="fa-regular fa-images"></i>
                </span>
              </button>
              <button type="button" title="Vídeo do YouTube" id="youtube" data-action="youtube">
                <span class="icon">
                  <i class="fa-brands fa-youtube"></i>
                </span>
              </button>
            </div>
            <div class="tool-group">
              <button
                type="button"
                class="pl-3"
                title="Limpar formatação"
                id="clean"
                data-action="clean"
              >
                <i class="fa-solid fa-text-slash"></i>
              </button>
            </div>
          </div>
          <article
            id="article-content"
            th:data-content="${article.content}"
            class="mb-0 content"
            data-placeholder="Escreva..."
            data-save="Documento salvo"
            th:style='|font-family: "${article.fontFamily.fontName}", ${article.fontFamily.fontType}|'
            th:data-font-name="${article.fontFamily.fontName}"
            th:data-font-type="${article.fontFamily.fontType}"
          ></article>
          <button type="button" class="is-hidden" id="up-down">
            <span class="icon">
              <i data-dr="up" class="is-hidden fa-solid fa-arrow-up"></i>
              <i data-dr="down" class="is-hidden fa-solid fa-arrow-down"></i>
            </span>
          </button>
          <form class="modal" id="figure-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <h1 class="modal-card-title">Configure a imagem</h1>
                <button type="button" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div class="mb-3">
                  <label for="figure-figcaption">Figcaption</label>
                  <div class="control mt-1">
                    <input
                      class="input"
                      id="figure-figcaption"
                      type="text"
                      placeholder="Exemplo: gráfico de visualização..."
                    />
                  </div>
                  <small class="help">
                    Figcaption é o rótulo visível da imagem, exibido abaixo dela. É utilizado para
                    descrever a imagem e/ou fornecer informações sobre sua fonte.
                  </small>
                </div>
                <h2 class="subtitle mt-5 mb-3">Metadados</h2>
                <div class="mb-3">
                  <label for="figure-title">Qual o título da imagem?</label>
                  <div class="control mt-1">
                    <input
                      class="input"
                      id="figure-title"
                      type="text"
                      placeholder="Imagem do personagem..."
                    />
                  </div>
                  <small class="help">
                    Fornece informações adicionais sobre uma imagem quando o cursor do mouse está
                    sobre ela, ajudando a contextualizar sua finalidade ou oferecer uma descrição
                    mais detalhada
                  </small>
                </div>
                <div class="mb-3">
                  <label for="figure-alt">Alt</label>
                  <div class="control mt-1">
                    <input class="input" id="figure-alt" type="text" placeholder="Gráfico..." />
                  </div>
                  <small class="help">
                    O atributo "alt" em HTML fornece um texto alternativo que é exibido quando a
                    imagem não pode ser carregada
                  </small>
                </div>
                <div class="mb-3">
                  <label for="figure-aria-label">Rótulo para leitores de tela</label>
                  <div class="control mt-1">
                    <input
                      class="input"
                      id="figure-aria-label"
                      type="text"
                      placeholder="Descrição da imagem para leitores de tela"
                    />
                  </div>
                  <small class="help">
                    O rótulo é um texto que descreve a imagem. Ele é um atributo de acessibilidade.
                    Nesse caso, não é <strong>obrigatório</strong> se a descrição no
                    <em>Figcaption</em> for suficiente.
                  </small>
                </div>
                <div class="mb-3">
                  <label for="figure-loading">Tipo de carregamento</label>
                  <div>
                    <div class="select is-link">
                      <select id="figure-loading">
                        <option value="lazy">Lazy (otimiza o desempenho)</option>
                        <option value="eager">
                          Eager (prioriza o carregamento imediato da imagem)
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <button id="del-figure-img" type="button" class="mt-4 button is-danger is-outlined">
                  Apagar imagem
                </button>
              </section>
              <footer class="modal-card-foot">
                <div class="buttons">
                  <button type="submit" class="button is-success">Salvar alterações</button>
                </div>
              </footer>
            </div>
          </form>
          <form class="modal" id="link-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <h1 class="modal-card-title">Adicionar link</h1>
                <button type="button" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div class="mb-3">
                  <label for="link-href">URL</label>
                  <div class="control mt-1">
                    <input
                      class="input"
                      data-message="Links que não utilizem HTTPS (apenas HTTP) não serão aceitos, pois são inseguros"
                      id="link-href"
                      type="text"
                      placeholder="https://kassiopeia.dev"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="link-title">Título do link</label>
                  <div class="control mt-1">
                    <input
                      data-message="Insira pelo menos um caractere aqui."
                      class="input"
                      id="link-title"
                      type="text"
                      placeholder="Kassiopeia"
                    />
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <div class="buttons">
                  <button type="submit" data-no-hide="true" class="button is-success">
                    Adicionar URL
                  </button>
                  <button type="button" class="button">Cancelar</button>
                </div>
              </footer>
            </div>
          </form>
          <form class="modal" id="youtube-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <h1 class="modal-card-title">Adicione um vídeo do YouTube</h1>
                <button type="button" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div class="mb-3">
                  <label for="link-href">URL</label>
                  <div class="control mt-1">
                    <input
                      class="input"
                      id="youtube-href"
                      type="text"
                      data-message="O link informado não parece pertencer ao YouTube"
                      placeholder="https://youtube.com/..."
                    />
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <div class="buttons">
                  <button type="submit" data-no-hide="true" class="button is-success">
                    Adicionar vídeo
                  </button>
                  <button type="button" class="button">Cancelar</button>
                </div>
              </footer>
            </div>
          </form>
        </div>
      </section>
    </main>

    <input
      type="hidden"
      value="/article/edit"
      th:data-slug="${article.slug}"
      id="wwwroot-page-manager-id"
    />
  </body>
</html>
