<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <th:block th:replace="~{fragments/default-head}"></th:block>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.1/dist/quill.snow.css" />
  </head>

  <body>
    <main class="py-5 px-3">
      <section class="">
        <header>
          <div class="is-flex is-align-items-center g-0">
            <span>Slug:</span>
            <input
              style="border: none"
              id="slug-element"
              class="input is-small"
              th:value="${article.slug}"
            />
          </div>
          <input
            data-slug=""
            type="text"
            class="title input is-4 has-text-weight-normal mt-3 p-0 px-4"
            th:value="${article.title}"
            placeholder="Título..."
            id="article-title"
            style="border: none"
          />
        </header>
        <div>
          <article
            id="article-content"
            th:data-content="${article.content}"
            data-placeholder="Escreva algo épico..."
            class="pb-6 content"
          ></article>

          <form class="modal" id="figure-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Configure a imagem</p>
                <button type="button" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div class="mb-3">
                  <label for="figure-figcaption">Figcaption</label>
                  <div class="control mt-1">
                    <input
                      class="input"
                      id="figure-figcaption"
                      type="text"
                      placeholder="Exemplo: gráfico de visualização..."
                    />
                  </div>
                  <small style="font-size: small">
                    Figcaption é o rótulo visível da imagem, exibido abaixo dela. É utilizado para
                    descrever a imagem e/ou fornecer informações sobre sua fonte.
                  </small>
                </div>
                <h2 class="subtitle mt-5 mb-3">Metadados</h2>
                <div class="mb-3">
                  <label for="figure-title">Qual o título da imagem?</label>
                  <div class="control mt-1">
                    <input
                      class="input"
                      id="figure-title"
                      type="text"
                      placeholder="Imagem do personagem..."
                    />
                  </div>
                  <small style="font-size: small">
                    Fornece informações adicionais sobre uma imagem quando o cursor do mouse está
                    sobre ela, ajudando a contextualizar sua finalidade ou oferecer uma descrição
                    mais detalhada
                  </small>
                </div>
                <div class="mb-3">
                  <label for="figure-alt">Alt</label>
                  <div class="control mt-1">
                    <input class="input" id="figure-alt" type="text" placeholder="Gráfico..." />
                  </div>
                  <small style="font-size: small">
                    O atributo "alt" em HTML fornece um texto alternativo que é exibido quando a
                    imagem não pode ser carregada
                  </small>
                </div>
                <div class="mb-3">
                  <label for="figure-loading">Tipo de carregamento</label>
                  <img src="" alt="" loading="lazy" />
                  <div class="select is-link">
                    <select id="figure-loading">
                      <option value="lazy">Lazy (otimiza o desempenho)</option>
                      <option value="eager">
                        Eager (prioriza o carregamento imediato da imagem)
                      </option>
                    </select>
                  </div>
                </div>
                <button type="button" class="mt-4 button is-danger is-outlined">
                  Apagar imagem
                </button>
              </section>
              <footer class="modal-card-foot">
                <div class="buttons">
                  <button type="button" class="button is-success">Salvar alterações</button>
                </div>
              </footer>
            </div>
          </form>
        </div>
      </section>
    </main>

    <input
      type="hidden"
      value="/article/edit"
      th:data-slug="${article.slug}"
      id="wwwroot-page-manager-id"
    />
  </body>
</html>
