<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <th:block th:replace="~{fragments/default-head}"></th:block>
</head>

<body>
  <header class="p-3">
    <div>
      <th:block th:replace="~{fragments/default-navigation}"></th:block>
    </div>
  </header>

  <main class="container p-3">
    <section class="section">
      <th:block th:if="${user != null}">
        <div class="py-5">
          <header>
            <h1 class="subtitle">Olá, <a th:href="'/user/' + ${user.username}" th:text="${user.name}"></a></h1>
          </header>
        </div>
      </th:block>
    </section>
  </main>

  <th:block th:replace="~{fragments/footer}"></th:block>

  <input type="hidden" value="/index" id="wwwroot-page-manager-id">

</body>

</html>